@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --primary: 233, 91%, 68%, 1;
    --secondary: 233, 91%, 60%, 1;
  }

  .dark {
    --background: 233, 37%, 17%, 1;
    --foreground: 210 40% 98%;

    --muted: 232, 38%, 12%, 1;
    --muted-foreground: 215 20.2% 65.1%;

    --primary: 238, 70%, 57%, 1;
    --secondary: 238, 70%, 48%, 1;
  }
}

@layer base {
  * body {
    @apply bg-background text-foreground;
  }
}

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  background-color: hsl(var(--primary));
  position: absolute;
  height: 1px;
  width: 0px;
  left: 50%;
  bottom: -2px;
  transform: translate(-50%);
  transition: 0.5s;
}

.link-item:hover::after {
  width: 100%;
}
