@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.link-item {
  position: relative;
}

.link-item::after{
  content: "";
  background-color: black;
  position: absolute;
  height: 1px;
  width: 0px;
  left: 50%;
  bottom: -3px;
  transform: translate(-50%);
  transition: 0.5s;
}

.link-item:hover::after{
  width: 100%;
}